body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  nav {
    display: flex;
    background-color: #0a0a0a;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    list-style: none;
    padding: 0px 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }
  
  nav a:hover {
    color: #cace7a;
  }
  
  .nav-logo {
    width: 40px;
    height: 35px;
    margin-top: 10px;
    margin-left: 50px;
  }
  
  .header-info span {
    font-family: "Rubik Dirt", cursive;
    font-size: 4rem;
    color: #2f2e4d;
  }
  
  .header-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("imagenes/ciudad.jpeg");
    padding: 10rem;
  }
  
  .header-info img {
    width: 50%;
    margin-top: 20px;
  }
  
  .header-info a {
    text-decoration: none;
    color: #2f2e4d;
    background-color: #cace7a;
    font-size: 1.5rem;
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  main {
    max-height: 50%;
  }
  
  .allies {
    border: 1px #7b7b7d83 solid;
  }
  
  .allies h1 {
    text-align: center;
    font-size: 1.5rem;
    color: #2f2e4d;
  }
  
  .allies-images {
    display: flex;
    justify-content: center;
  }
  
  .allies-images img {
    border-radius: 50%;
    border: #161615 1px solid;
    width: 9%;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .about p {
    color: rgb(19, 18, 18);
    background-color: rgba(8, 245, 28, 0.514);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
  }
  
  footer {
    max-height: 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #050505;
    color: #fff;
  }
  
  footer h5 {
    color: #f8f1f1;
  }
  
  .one {
    margin-left: 20px;
  }
  
  .three img {
    margin-right: 30px;
  }
  
  
  .card {
    border: 1px rgba(253, 9, 9, 0.378) solid;
    border-radius: 5px;
    width: 250px;
    height: 350px;
    padding: 10px;
    margin: 10px;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cards img{
    width: 200px;
    height: 200px;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }
  .contact input,
  textarea,
  select {
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0a0a0a83;
  }
  
  .contact button {
    background-color: #0cbe2a;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #caec0683;
    margin-bottom: 15px;
    width: 50%;
    margin: 10px auto;
  }
  
  .products h1{
      text-align: center;
      margin-top: 55px;
  }
  
  .contact h1{
      text-align: center;
      margin-top: 70px;
  }